@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body, html {
    width: 100%;
}

a { 
    color: inherit;
} 

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5em;
    gap: 70px;
}

.section img {
    width: 15%;
}

.titulo {
    width: 32%;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: white;
}

#discord {
    transition: 0.5s;
}

#discord:hover {
    color: #EF2D2D;
    transition: 0.5s;
}

button {
    background-color: #6B71FF;
    color: white;
    width: 300px;
    height: 60px;
    border-radius: 2px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.neon {
    color: #6B71FF;  
    text-decoration: none;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
}

.neon:hover {
    background: #6B71FF;
    box-shadow: 0 0 5px #6b70ffbb, 0 0 25px #6b70ff7c, 0 0 50px #6b70ff88, 0 0 200px #6b70ff7a;
}

#section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #1A1919;
    overflow: hidden;
    padding-top: 15em;
}

.section-icon {
    display: flex;
    gap: 15px;
}

#icon-img {
    width: 100%;
    color: white;
    transition: 0.5s;
}

#icon-img:hover {
    color: #6B71FF;
    transition: 0.5s;
    transform: scale(1.2);
    opacity: 60;
}

/*Waves*/

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../images/wave.png);
    background-size: 1000px 100px;
}

section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 0.7;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.3;
    animation-delay: -5s;
    bottom: 10px;
}

section .wave.wave4 {
    animation: animate 5s linear infinite;
    z-index: 997;
    opacity: 0.3;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}
@media (max-width: 1600px) {
    #section {
        padding-top: 8em;
        gap: 45px;
    }

    .logo{
        width: 18%;
    }

    .titulo {
        width: 50%;
        font-size: 17px;
    }

    button {
        width: 244px;
        font-size: 15px;
        padding: 15px;
    }

    #section-icon {
        width: 5%;
    }

}

@media (max-width: 420px) {

    #section {
        padding-top: 6em;
    }

    #section img {
        width: 60%;
    }

    .titulo {
        width: 100%;
        padding: 10px;
    }

    .section-icon {
        width: 20%;
    }

    #link-icon {
        width: 100%;
    }
}

